body{
    text-align: center;
}
header{
    font-size: 2em;
    text-align: center;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
p{
    font-size: 18pt;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}